<div class="containter">
<li>
	{{burger_name}}
{{#if devoured}}
	<button class="change-devour" style="background-color: yellow; color: black; border: none;" data-id="{{id}}" data-devour="{{devoured}}">devour</button>
    {{/if}}
</li>
</div>
